body{
    margin: 0px;
    
}

main{
    display: block;
}

h1{
    position: relative;
    left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    top: 30px;
    
}

.box-principal{
    border: 2px solid #C3F1FF;
    background: #F2FCFF;
    position: relative;
    border-radius: 10%;
    width: 500px;
    height: 700px;
    
}

.cuerpo{
    position: relative;
    top: 50px ;
    left: 260px;
    right: 0px;
    bottom: 100px;
}

.box-artist{
    position: relative;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 130px 130px 130px;
    bottom: auto;
    top: 40px
    
}

.box-artist img{
    
    border-radius: 50%;
    width: 60px;
    height: 60%;
    border: solid 1px black;
    
}

.box-artist article{
    
    position: relative;
    background: turquoise;
    border-radius: 10%;
    height: 100px;
    width: 100px;
    left: 45px ;
    text-align: center;
    padding: 10px;
}
