<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/80a287feeb.js" crossorigin="anonymous"></script>
    <title>Layout</title>
</head>
<body>
    <header class="box-barra">
        
        <h2 class="text">Zafary</h2>
            
    </header>
        
    <main class="box">
       
        <aside class="box-secundario">
            <ul class="barra">
                <h5 id="IHome"><i class="fas fa-home"></i>  Home</h5>
                <h5 id="IWhatzapp"><i class="fas fa-sms"></i>  WhatzApp</h5>
                <h5 id="IZpotyfi"><i class="fab fa-spotify"></i> Zpotify</h5>
                    
            </ul>   
        </aside>
        
        <section class="box" >
            <div class="box-sub">
                <p id="nombre-pagina"> <strong>Zafary</strong></p>
            </div>
            <iframe id="contenido" src="../Home/index.html" frameborder="0"></iframe>    
        </section>
        
    </main> 
    <script src="index.js"></script>
</body>

</html>